{% extends 'level5/base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="content">
    <h1>Sign Up</h1>

    <form enctype="multipart/form-data" method="post" >
        {% csrf_token %}
        {% if user_form %}
            {{ user_form.as_p }}
        {% endif %}
    
        {% if user_profile_form %}
            {{ user_profile_form.as_p }}
        {% endif %}
        <button type="submit" class="btn btn-primary">Sign in</button>

    </form>
</div>
{% endblock %}