<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Objects</title>
    <style>
        td{
            border: 1px #000 solid;
        }
    </style>
</head>
<body>
    {% if entries %}
    <div>
        <h2>Topics:</h2>
        <table>
            <th>Name</th>
            {% for topic in entries.topics %}
            <tr>
                <td>{{ topic }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <div>
        <h2>Webpages:</h2>
        <table>
            <th>Name</th>
            <th>Topic</th>
            <th>Url</th>
            {% for webpage in entries.webpages %}
            <tr>
                <td>{{ webpage.name }}</td>
                <td>{{ webpage.topic }}</td>
                <td>{{ webpage.url }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h2>Access date:</h2>
        <table>
            <th>Web Page</th><th>Date Accessed</th>
            {% for acc_rec in entries.acc_recs %}
            <tr>
                <td>{{ acc_rec.webpage }}</td><td>{{ acc_rec.date }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    {% endif %}
</body>
</html></html>