<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | my site</title>
    <style>
        nav a{
            border: 1px solid #000;
            padding: 10px;
            text-decoration: none;
            border-radius: 5px;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome to my site</h1>
    <nav>
        <a href="{% url 'application1:index'%}">app1 index</a>
        <a href="{% url 'application1:page1'%}">app1 page1</a>
        <a href="{% url 'application1:page2'%}">app1 page2</a>
    </nav>
</body>
</html>