{% extends "blog/base.html" %}
{% block title %}

    {% if not form.instance.pk %}
        Add New Student
    {% else %}
        Edit {{ student.name }}
    {% endif %}

{% endblock %}

{% block content %}
<div class="content">

    <h2>
        {% if not form.instance.pk %} Add New Student {% else %} Edit {{ student.name }}{% endif %}
    </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if not form.instance.pk %}
        <button type="submit" class="btn btn-primary">Add</button>
        {% else %}
        <button type="submit" class="btn btn-warning">OK</button>
        <a class="btn btn-primary" href="{% url 'schools:detail_school' pk=student.school.pk %}" >Cancel</a>
        {% endif %}
    </form>

</div>
{% endblock %}