{% extends "blog/base.html" %}
{% block title %}{{ school.name }}{% endblock %}

{% block content %}
<div class="content">

    <h1>Welcome This School</h1>
    <p>Name: {{ school.name }}</p>
    <p>Principal: {{ school.principal }}</p>
    <p>Location: {{ school.location }}</p>
    <p>Number of Students: {{ school.students.count }}</p>
    <a class="btn btn-warning" href="{% url 'schools:update_school' pk=school.pk %}">Update</a>
    <a class="btn btn-danger" href="{% url 'schools:delete_school' pk=school.pk %}">Delete</a>
    <a class="btn btn-primary" href="{% url 'students:add_student' pk=school.pk %}">Add Student</a>

    {% if school.students.count %}
    <h2>Students:</h2>
    <table class="table table-success table-hover">
        <th>Name</th>
        <th>age</th>
        <th>Action</th>

        {% for student in school.students.all|dictsortreversed:"id" %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>
                <a class="btn btn-warning" href="{% url 'students:update_student' pk=student.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'students:delete_student' pk=student.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    
</div>
{% endblock %}