<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Form</title>
</head>
<body>
    {% if valid_comment_form %}
    <h1>Your comment is accepted</h1>
    <ol>
        <li>NAME: {{ valid_comment_form.name }}</li>
        <li>EMAIL: {{ valid_comment_form.email }}</li>
        <li>TEXT: {{ valid_comment_form.text }}</li>
    </ol>

    {% else %}
    <h1>Comment Here:</h1>
    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% endif %}

</body>
</html>